@keyframes levitate {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .levitating-object {
    animation: levitate 2s ease-in-out infinite;
  }

  @keyframes circleAnimation {
    0% {
      top: -20rem;
      left: 0%;
      width: 0;
      height: 100px;
    }
    25% {
      top: -20rem;
      width: 0;
    }
    50% {
      top: -20rem;
      left: 0%;
      width: 100px;
      height: 100px;
    }
    75% {
      top: 0rem;
      left: 0%;
      width: 100px;
      height: 100px;
    }
    100% {
      width: 100%;
      top: 0rem;
      height: 100%;
      border-radius: 0;
    }
  }
  
  .myCircle {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #060c21;
    animation-name: circleAnimation;
    animation-duration: 3s;
    animation-fill-mode: forwards;
  }
  
  