@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

:root {
  --primary-blue: #00bedc;
  --primary-purple: #7b26e8;
  --gradient: linear-gradient(
    to right,
    var(--primary-blue) 10%,
    #9e5ef3 40%,
    var(--primary-purple) 100%
  );
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-poppins);
  font-weight: 400;
  scroll-behavior: smooth;
}
p{
  font-size: 17px;

}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-raleway);
}

h1 {
  font-size: 3.5rem;
  font-weight: 900;
}
h2 {
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 2.5rem;
}
h3 {
  font-size: 2rem;
  font-weight: 700;
}
h4{
  font-size: 1.2rem;
  font-weight: 600;
}

.gradient-text {
  display: inline-block; /* or use another appropriate display value */
  background: linear-gradient(
    to right,
    var(--primary-blue) 10%,
    #9e5ef3 40%,
    var(--primary-purple) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: bold;
}

.gradient-01 {
  background-image: linear-gradient(
    270deg,
    hsl(295deg 76% 51%) 0%,
    hsl(284deg 70% 73%) 26%,
    hsl(257deg 70% 86%) 39%,
    hsl(202deg 92% 90%) 50%,
    hsl(215deg 77% 81%) 61%,
    hsl(221deg 73% 70%) 74%,
    hsl(220deg 76% 51%) 100%
  );
  filter: blur(100px);
}

.hero-gradient {
  background: linear-gradient(
    97.86deg,
    #a509ff 0%,
    #34acc7 53.65%,
    #a134c7 100%
  );
}

.gradient-02 {
  position: absolute;
  width: 200px;
  height: 438px;
  top: 0px;
  right: 0px;

  background: #7aebfb;
  filter: blur(190px);
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.gradient-03 {
  position: absolute;
  width: 400px;
  height: 400px;
  right: 0%;
  top: 5%;

  background: rgba(149, 66, 232, 0.35);
  filter: blur(155px);
  transform: rotate(0deg);
}

.gradient-04 {
  position: absolute;
  width: 304px;
  height: 100vh;
  left: 30%;
  top: 10%;

  background: rgba(45, 72, 152, 0.75);
  filter: blur(200px);
  transform: rotate(-53.13deg);
}

.gradient-05 {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.04) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.feedback-gradient {
  position: absolute;
  width: 200px;
  height: 316px;
  left: 0px;
  top: 0px;

  background: #8d39a3;
  filter: blur(175px);
}

.footer-gradient {
  position: absolute;
  width: 500px;
  height: 100px;
  left: 37%;
  bottom: 0;

  background: #65c4fa;
  filter: blur(150px);
}

.button {
  position: relative;
}

.button-border {
  position: absolute;
  left: -10px;
  top: 10px;
  right: 0%;
  bottom: 0px;
  z-index: -1;
  background: linear-gradient(
    to right,
    var(--primary-blue) 10%,
    #9e5ef3 50%,
    var(--primary-purple) 100%
  );
  width: 100%;
  height: 100%;
  border-radius: inherit;
  transition: 0.2s;
}

.button:hover .button-border {
  left: -15px;
  top: 15px;
}

.card-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
}

.logo {
  font-weight: bold;
  font-size: 22px;
}

.links {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style: none;
}

.link {
  border-style: solid;
  border-color: transparent;
  transition: 0.1s;
  padding-bottom: 5px;
}

.link:hover {
  border-bottom: 3px solid;
  border-image: linear-gradient(
    to right,
    var(--primary-blue) 10%,
    var(--primary-purple) 100%
  );
  border-image-slice: 1;
}

.active {
  border-bottom: 3px solid;
  border-image: linear-gradient(
    to right,
    var(--primary-blue) 10%,
    var(--primary-purple) 100%
  );
  border-image-slice: 1;
  padding-bottom: 5px;
}

.hamburger {
  display: none;
}

.shadown-card {
  -webkit-box-shadow: 1px 6px 22px 7px rgba(0,0,0,0.35);
  -moz-box-shadow: 1px 6px 22px 7px rgba(0,0,0,0.35);
  box-shadow: 1px 6px 22px 7px rgba(0,0,0,0.35);
}

.box-shadown {
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
  0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
  0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
}

@media screen and (max-width: 940px) {
  h1{
    font-size: 5rem;
  }
  h2{
    font-size: 1.7rem;
  }
  h3{
    font-size: 1.3rem;
  }

  .hamburger {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
  }
  .links {
    position: absolute;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    top: 80%;
    left: -100%;
    width: 100%;
    height: 95vh;
    transition: 0.3s;
    z-index: 9;
    background-color: black;
    font-size: 17px;
    font-weight: bold;
  }

  .activeM {
    left: 0px;
  }
}
