@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

:root {
  --dark: #25254a;
  --primary: #170658;
  --secondary: #6947d1;
  --tertiary: #2504ca;
  --primary-blue: #00bedc;
  --primary-purple: #7b26e8;
  --gradient: linear-gradient(
    to right,
    var(--primary-blue) 10%,
    #9e5ef3 40%,
    var(--primary-purple) 100%
  );
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-archivo);
  /* font-family: url('/public/fonts/gotham.otf'); */
  font-weight: 300;
}

html,
body {
  overflow-x: hidden;
}

html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

@font-face {
  font-family: "Gotham";
  src: local("Gotham"), url(/public/fonts/gotham.otf) format("opentype");
  font-display: swap;
}

/* Target the whole scrollbar */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--secondary);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary-purple);
}

p,
a {
  font-size: 19px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: url("/public/fonts/gotham.otf");
}

h1 {
  font-size: 6rem;
  font-weight: 600;
}
h2 {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 3.5rem;
}
h3 {
  font-size: 2.5rem;
  font-weight: 700;
}
h4 {
  font-size: 1.7rem;
  font-weight: 600;
}

.gradient-text {
  display: inline-block; /* or use another appropriate display value */
  background: linear-gradient(
    to right,
    var(--primary) 10%,
    var(--tertiary) 40%,
    var(--secondary) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.background-gradient {
  background: linear-gradient(
    to right,
    var(--primary) 10%,
    var(--tertiary) 40%,
    var(--secondary) 100%
  );
}

.gradient-01 {
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  background-image: linear-gradient(
    270deg,
    hsl(295deg 76% 51%) 0%,
    hsl(284deg 70% 73%) 26%,
    hsl(257deg 70% 86%) 39%,
    hsl(202deg 92% 90%) 50%,
    hsl(215deg 77% 81%) 61%,
    hsl(221deg 73% 70%) 74%,
    hsl(220deg 76% 51%) 100%
  );
  -webkit-filter: blur(170px);
  filter: blur(170px);
  height: 600px;
  width: 600px;
  position: absolute;
  right: 5%;
  top: 5%;
}

.hero-gradient {
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  background: linear-gradient(
    var(--secondary) 35%,
    var(--primary-blue) 100%
  );
  -webkit-filter: blur(320px);
  filter: blur(320px);
  height: 100vh;
  width: 40vw;
  position: absolute;
  right: -250px;
  top: -250px;
}

.footer-gradient {
  position: absolute;
  width: 400px;
  height: 200px;
  left: 50%;
  top: 25%;
  filter: blur(100px);
  background: radial-gradient(
    #47cbff9a 60%,
    rgba(161, 60, 255, 0.555) 50%,
    #c547ff 100%
  );
  z-index: 0;
}

.button {
  position: relative;
}

.button-border {
  position: absolute;
  left: -10px;
  top: 10px;
  right: 0%;
  bottom: 0px;
  z-index: -1;
  background: linear-gradient(
    to right,
    var(--primary-blue) 10%,
    #9e5ef3 50%,
    var(--primary-purple) 100%
  );
  width: 100%;
  height: 100%;
  border-radius: inherit;
  transition: 0.2s;
}

.button:hover .button-border {
  left: -15px;
  top: 15px;
}

.team-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 30px;
}

.card-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
}

.benefits-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 30px;
}

/* Reset default styles */
input[type="range"] {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  height: 20px;
  background-color: lightgray;
  border: none;
  border-radius: 50px;
}

/* Webkit (Chrome, Safari) */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 40px;
  height: 40px;
  background-color: var(--primary-purple);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

/* Firefox */
input[type="range"]::-moz-range-thumb {
  width: 40px;
  height: 40px;
  background-color: var(--primary-purple);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

/* Edge */
input[type="range"]::-ms-thumb {
  width: 40px;
  height: 40px;
  background-color: var(--primary-purple);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.logo {
  font-weight: bold;
  font-size: 22px;
}

.links {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style: none;
}

.link {
  border-style: solid;
  border-color: transparent;
  transition: 0.1s;
  padding-bottom: 5px;
}

.link:hover {
  border-bottom: 3px solid;
  border-image: linear-gradient(
    to right,
    var(--primary-blue) 10%,
    var(--primary-purple) 100%
  );
  border-image-slice: 1;
}

.active {
  border-bottom: 3px solid;
  border-image: linear-gradient(
    to right,
    var(--primary-blue) 10%,
    var(--primary-purple) 100%
  );
  border-image-slice: 1;
  padding-bottom: 5px;
}

.shadown-card {
  -webkit-box-shadow: 1px 6px 22px 7px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 1px 6px 22px 7px rgba(0, 0, 0, 0.35);
  box-shadow: 1px 6px 22px 7px rgba(0, 0, 0, 0.35);
}

.box-shadown {
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
}

.audio-player {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px;
}
.audio-list {
  list-style: none;
  padding: 0;
}
.audio-list-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 5px 0;
  cursor: pointer;
}
audio {
  width: 300px;
}

@media screen and (max-width: 940px) {
  html,
  body {
    overflow-x: hidden;
  }
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 2.3rem;
    line-height: 2.5rem;
  }
  h3 {
    font-size: 1.7rem;
  }

  .gradient-01,
  .hero-gradient {
    filter: blur(70px);
    height: 300px;
    width: 250px;
    right: 14%;
    top: 10%;
  }

  .footer-gradient {
    width: 400px;
    height: 200px;
    left: 0%;
    top: 32%;
    filter: blur(60px);
    z-index: 0;
  }

  .links {
    position: absolute;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    top: 80%;
    left: -100%;
    width: 100%;
    height: 95vh;
    transition: 0.3s;
    z-index: 9;
    background-color: black;
    font-size: 17px;
    font-weight: bold;
  }

  .activeM {
    left: 0px;
  }

  /* Reset default styles */
  input[type="range"] {
    height: 15px;
  }

  /* Webkit (Chrome, Safari) */
  input[type="range"]::-webkit-slider-thumb {
    width: 30px;
    height: 30px;
  }

  /* Firefox */
  input[type="range"]::-moz-range-thumb {
    width: 30px;
    height: 30px;
  }

  /* Edge */
  input[type="range"]::-ms-thumb {
    width: 30px;
    height: 30px;
  }
}
